
.x-panel-body p {
    margin:5px;
}
    
.settings {
    background-image:url( ../shared/icons/fam/folder_wrench.png ) !important;
}
.nav {
    background-image:url( ../shared/icons/fam/folder_go.png ) !important;
}
.user-add {
    background-image:url( ../../../../../cmi/comun/images/icons/fam/user_add.gif ) !important;
}
.user-delete {
    background-image:url( ../../../../../cmi/comun/images/icons/fam/user_delete.gif ) !important;
}
.user {
    background-image:url( ../../../../../cmi/comun/images/icons/fam/user.gif ) !important;
}
.connected {
    background-image:url( ../../../../../cmi/comun/images/icons/fam/connect.gif ) !important;
}
.group {
    background-image:url( ../../../../../cmi/comun/images/icons/group.png ) !important;
}
.jabber {
    background-image:url( ../../../../../cmi/comun/images/icons/wizard.png ) !important;
    
}
.help {
    background-image:url( ../../../../../cmi/comun/images/icons/fam/bookcase.png ) !important;
}
.x-portal .x-panel-dd-spacer {
    margin-bottom:10px;
}

.x-portlet {
    margin-bottom:10px;
}

/* Clean up the look of the portlets */
.x-portlet .x-panel-ml {
    padding-left:2px;
}
.x-portlet .x-panel-mr {
    padding-right:2px;
}
.x-portlet .x-panel-bl {
    padding-left:2px;
}

.x-portlet .x-panel-br {
    padding-right:2px;
}
.x-portlet .x-panel-body {
    background:white;
}
.x-portlet .x-panel-mc {
    padding-top:2px;
}
.x-portlet .x-panel-bc .x-panel-footer {
    padding-bottom:2px;
}
.x-portlet .x-panel-nofooter .x-panel-bc {
    height:2px;
}
