/**
* Dataview de productos
*/

#articles {
    background-color: #fff;
    text-shadow: #fff 0 1px 0;
    position: relative;
    display: block;
    height: auto;
}

#articles div.article img {
    margin-bottom: 1px;
}

div.article {
    float: left;
    padding: 8px 17px;
    margin: 5px;
    text-align: center;
    line-height: 14px;
    color: #333;
    font-size: 10px;
    font-family: "Helvetica Neue", sans-serif;
    height: 130px;
    width: 140px;
    overflow: hidden;
    border-top: 1px solid transparent;
    cursor: pointer;
}

.x-ie6 #articles div.article,
.x-ie7 #articles div.article,
.x-ie8 #articles div.article {
    border-top: none;
    padding: 3px 2px;
    margin: 2px;
}

#articles div.article-hover {
    background-color: #eee;
}

#articles .x-item-selected {
    background-color: #D3E1F1 !important;
}

div.article strong {
    color: #000;
    display: block;
}

div.article span {
    color: #999;
}

.cart-target-hover {
    border: 2px dashed green;
}

/**
* Data view de formas de pago
*/
.img-chooser-view {
    background: white;
    font: 11px Arial, Helvetica, sans-serif;
}

.img-chooser-view .thumb {
    padding: 3px;
}

.img-chooser-view .thumb-wrap {
    float: left;
    margin: 4px;
    margin-right: 0;
    padding: 5px;
    cursor: pointer;
}

.img-chooser-view .thumb-wrap span {
    display: block;
    overflow: hidden;
    text-align: center;
}

.img-chooser-view .x-view-over {
    border: 1px solid #dddddd;
    background-color: #efefef;
    padding: 4px;
}

.img-chooser-view .x-item-selected {
    background: #DFEDFF;
    border: 1px solid #6593cf;
    padding: 4px;
}

.img-chooser-view .x-item-selected .thumb {
    background: transparent;
}

.img-chooser-view .x-item-selected span {
    color: #1A4D8F;
}

.fpago_description {
    clear: both;
    text-align: center;
    font-style: italic;
    margin-top: 180px;
}