<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Gesttiposmateria</title>
    <script type="text/javascript" src="<?php echo $this->dir_ucid; ?>js/imporcss.js"></script>
    <script language="javascript" type="text/javascript">importarCSS(window.parent.UCID.portal.perfil.dirCss);</script>


    <script type="text/javascript" src="<?php echo $this->dir_extjs; ?>js/ext-all-4.2.1.js"></script>
    <script type="text/javascript" src="<?php echo $this->dir_extjs;?>js/SearchField.js"></script>
    <!--<script type="text/javascript" src="<?php echo $this->dir_extjs; ?>js/ext-all-debug-w-comments.js"></script>-->
    <script type="text/javascript" src="<?php echo $this->dir_ucid; ?>js/ucid-all.js"></script>
    <script type="text/javascript" src="../../views/js/gesttiposmateria/app.js"></script>
</head>

<body>
<!--<div id="panel"></div>
<script type="text/javascript" src="<?php echo $this->dir_extjs; ?>js/ext-base.js"></script>-->
</body>
</html>
