/* these styles are in the head of this page because this is a unique page */

/* THE BIG GUYS */
* {
	margin: 0;
	padding: 0;
}
/*Para la edicion*/



body{
	
	height:100%;
	width:100%;
	text-align: center;
	padding: 10px 0;background-color:#808080;
	background-image:url(icons/aut.jpg);
	background-attachment: fixed;
	background-size:100% 100%; 
	
	font: 83%/1.5 arial,tahoma,verdana,sans-serif;
}

td{color:#333333;
}
#languagebar{color:#000000;
}
#languagebar a{color:#333399;
}
input[type="submit"],#btn-entrada{
    
    
    font-family: Verdana, Geneva, sans-serif; font-size: 15px;color:#808080; padding: 5px 10px 5px 10px;
  border: solid 1px #CCC;background:#C0C0C0;
   text-shadow: 0px 1px 0px #000;
    border-radius: 5px;
     -moz-border-radius: 5px;
     -webkit-border-radius: 5px;
      box-shadow: 0 1px 3px #111;
       -moz-box-shadow: 3px 3px 1px #999;
        -webkit-box-shadow: 3px 3px 1px #999;
         cursor: pointer;

}

input[type="submit"]:hover,#btn-entrada-hover{
font-family: Verdana, Geneva, sans-serif; font-size: 15px;color:#000000; 
 padding: 5px 10px 5px 10px;
  border: solid 1px #CCC;background:#969696;
   text-shadow: 0px 1px 0px #000;
    border-radius: 5px;
     -moz-border-radius: 5px;
     -webkit-border-radius: 5px;
      box-shadow: 0 1px 3px #111;
       -moz-box-shadow: 3px 3px 1px #999;
        -webkit-box-shadow: 3px 3px 1px #999;
         cursor: pointer;
        
}

input[type="text"],#text-user{
font-family: Verdana, Geneva, sans-serif;
    font-size: 12px;color:#333333;
     padding: 5px 10px 5px 10px;
    border: 1px solid #999;background:#FFFFFF;
    text-shadow: 0px 1px 1px #666;
    text-decoration: none;
 
    -moz-box-shadow: 0 1px 3px #111;
    -webkit-box-shadow: 0 1px 3px #111;
    box-shadow: 0 1px 3px #111;
	width:100%;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;

}

input[type="password"],#text-pass{
font-family: Verdana, Geneva, sans-serif;
    font-size: 12px;color:#333333;
    padding: 5px 10px 5px 10px;
    border: 1px solid #999;
	width:100%;
    text-shadow: 0px 1px 1px #666;
    text-decoration: none;background:#FFFFFF;
    -moz-box-shadow: 0 1px 3px #111;
    -webkit-box-shadow: 0 1px 3px #111;
    box-shadow: 0 1px 3px #111;
 
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;

}

#content p{color:#C0C0C0;
}

/*End edicion*/
img {
	border: none;
	display: block;
}

hr {
	margin: 1em 0;
	background: #eee;
	height: 1px;
	color: #eee;
	border: none;
	clear: both;
}

/* LINKS */
a, a:link, a:link, a:link, a:hover {

	text-decoration: none;
	color: #777;
	border-bottom: 1px dotted #ccc;
	font-weight: normal;
}


a:link, a:visited {
	text-decoration: none;
	color: #777;
	border-bottom: 1px dotted #ccc;
	font-weight: normal;
}
.ui-tabs-nav a {
	border: none ! important;
	text-decoration: none;
}
a:visited {
	color: #999;
} 

a:hover, a:active {
	color: #069;
	text-decoration: none;
	color: #333;
	border-bottom: 1px solid #333;
} 

/* LISTS */
ul {
	margin: .3em 0 1.5em 2em;
}

ul.related {
	margin-top: -1em;
}

li {
	margin-left: 2em;
}

dt {
	font-weight: bold;
}

#wrap {
	/*background: #fff;
	
	border: 1px solid #fff;
	position: relative;
	text-align: left;
	
	margin: 20px 75px 2em 75px;
	max-width: 950px;*/
        /*
	width:100%;
	height:600px;
	*/
	background:url(icons/logo.png) no-repeat;
       
        position: absolute;
top: 0px; /* Buscamos el centro horizontal (relativo) del navegador */
left: 50%; /* Buscamos el centro vertical (relativo) del navegador */
width: 1000px; /* Definimos el ancho del objeto a centrar */
height: 100%; /* Definimos el alto del objeto a centrar */
margin-top: 0px; /* Restamos la mitad de la altura del objeto con un margin-top */
margin-left: -500px; /* Restamos la mitad de la anchura del objeto con un margin-left */
}

#mycenter {
	margin:-10px 230px 0px 230px;

}

#myerror {    
      /*background-color:#FFCCCC;*/
       display:block;
    background:transparent no-repeat 0 2px;
    /*background-color:#FFF;*/
       color:#1c1c1c;
      /* font:12px/170% Verdana,sans-serif;*/
      /* text-align:left;*/
      /* background:transparent no-repeat 0 2px;*/
/*        background-image:url(img/exclamation.gif);*/
       /*margin:0px 0px 0px 21px;      */
       
}

#languagebar {
	padding-left: 10px;
	padding-right: 10px;
}
#languagebar a:link, #languagebar a:visited {
	text-decoration: none;
	color: #777;
	border-bottom: 1px dotted #ccc;
	font-weight: normal;
}
#languagebar a:hover {
	text-decoration: none;
	color: #333;
	border-bottom: 1px solid #333;
	
}

#header {
	/*background: #666 url("header-bkg.png") repeat-x 0 100%;*/
	margin: 0px;
	/*margin:-10px 230px 0px 230px;*/
	padding: 0 0 150px;
}

#header h1 {
	color: #fff;
	font-size: 145%;
	padding: 20px 20px 12px;
}


#content {
	padding: 0 20px;
	
}

/* TYPOGRAPHY */
p, ul, ol {
	margin: 0 0 1.5em;
}

h1, h2, h3, h4, h5, h6,#barras {
	letter-spacing: -1px;
	font-family: arial,verdana,sans-serif;
	margin: 1.2em 0 .3em;
	color: #1c1c1c;border-bottom: 2px solid #FFFFFF;
	padding-bottom: .1em;
}

h1 {
	font-size: 150%;
	margin-top: 0;
	border: none;
}

h2 {
	font-size: 100%;
}

h3 {
	font-size: 126%;
}

h4 {
	font-size: 116%;
	font-weight: bold;
}

h5 {
	font-size: 106%;
}

h6 {
	font-size: 96%;
}

h1 a {
	text-decoration: none;
	border: none ! important;
	color: white;
}

h1 a:hover {
	border-bottom: 1px dotted #eee;
}

#content {
	margin-top: 2em;
}

.old {
	text-decoration: line-through;
}

dl dt {
	color: #333;
}

dl dd {
	color: #666;
	margin-left: 3em;
/*	font-family: monospace; */
}

.efieldlist {
	padding: .4em;
	margin: .8em;
	border-top: 1px solid #e6e6e6;
	border-left: 1px solid #e6e6e6;
}

.efieldlist.warning {
	background-color: #922;
	border: 1px solid #333;
	color: white;
}

.efieldlist.warning h5 {
	color: white;
}

.efieldlist h5 {
	font-weight: bold;
	color: #200;
	margin: .3em;
}

.trackidtext {
	border: 1px dashed #aaa;
	background: #eaeaea;
	padding: .6em;
	margin: .4em;
}

.trackidtext .trackid {
	border: 1px solid #ccc;
	background: #eee;
	margin: .4em;
	padding: .4em;
	font-family: monospace;
	font-size: large;
}

div.caution {
	background-color:  #FF9;
	background-image: url('icons/experience/gtk-dialog-warning.48x48.png');
	background-repeat: no-repeat;
	border: thin solid #444;
	padding: .2em .2em .2em 60px;
	margin: 1em 0px 1em 0px;
}

th.rowtitle {
        text-align: left;
}
.enablebox table {
	border: 1px solid #eee;

	margin-left: 1em;
}
.enablebox.mini table {
	float: right;
}
.enablebox tr td {
	padding: .5px 1em 1px .5em;
	margin: 0px;
}
.enablebox {
	font-size: 85%;
}
.enablebox tr.enabled td {
	background: #eee;
}
.enablebox tr.disabled td {
	background: #ccc;
}

.metadatabox {
	overflow: scroll; 
	border: 1px solid #eee; 
	padding: 2px;
}
div.preferredidp {
	border: 1px dashed #ccc;
	background: #eee;
	padding: 2px 2em 2px 2em;	
}

table.modules {
	border-collapse: collapse;
}
table.modules tr td {
	border-bottom: 1px solid #ddd;
}
table.modules tr.even td {
	background: #f0f0f0;
}

/* Attribute presentation in example page */
table.attributes {
	width: 100%;
	margin: 0px;
	border: 1px solid #bbb;
	border-collapse: collapse;
}

table.attributes td.attrname {
	text-align: right;
}

table.attributes tr.even td {
	background: #eee;
}

table.attributes tr td {
	border-bottom: 1px solid #bbb; 
	border-left: 0px;
	border-right: 0px;	
	background: #fff;
	padding-top: 5px;
	padding-left: 1em;
	padding-right: 1em;
	
	vertical-align: top;
}
table#table_with_attributes tr:last-child td {
	border-bottom: none;
}

fieldset.fancyfieldset {
	margin: 2em 1em 1em 0px;
	border: 1px solid #bbb;
}
fieldset.fancyfieldset legend {
	margin-left: 2em;
	padding: 3px 2em 3px 2em;
	border: 1px solid #bbb;
}

div#confirmation input {
	margin-top: .5em;
	margin-bottom: .5em;
}
div#confirmation {
	border: 1px solid #aaa;
	background: #eee;
	padding: .6em 1em .1em 1em;
}

caption {
	display: none;
}


