<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Gesttipolocales</title>
<script type="text/javascript" src="<?php echo $this->dir_ucid;?>js/imporcss.js"></script>
    <link href="<?php echo $this->dir_ext_ccs;?>../gray4/css/ext-all.css" rel="stylesheet" type="text/css" media="screen"/>
</head>

<body>
<div id="panel"></div>
<script type="text/javascript" src="<?php echo $this->dir_extjs; ?>js/ext-all-4.2.1.js"></script>
<script type="text/javascript" src="<?php echo $this->dir_extjs;?>js/SearchField.js"></script>
<script type="text/javascript" src="<?php echo $this->dir_ucid; ?>js/ucid-all.js"></script>
<script type="text/javascript" src="../../views/js/gesttipolocales/gesttipolocales.js"></script>
</body>
</html>
