<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Configurar Perfil"</title>
    <link rel="stylesheet" type="text/css" href="../../views/css/message.css"/>
    <script type="text/javascript" src="<?php echo $this->dir_ucid; ?>js/imporcss.js"></script>
    <link href="<?php echo $this->dir_ext_ccs; ?>css/ext-all.css" rel="stylesheet" type="text/css" media="screen"/>

</head>

<body>
<div id="panel"></div>
<script type="text/javascript" src="<?php echo $this->dir_extjs; ?>js/ext-all-4.2.1.js"></script>
<script type="text/javascript" src="<?php echo $this->dir_ucid; ?>js/ucid-all.js"></script>
<script type="text/javascript" src="../../views/js/processconfiguration/panelcentro.js"></script>
<script type="text/javascript" src="../../views/js/processconfiguration/panelabajo.js"></script>
<script type="text/javascript" src="../../views/js/processconfiguration/processconfiguration.js"></script>
<script type="text/javascript" src="../../views/js/processconfiguration/panelderecho.js"></script>
<script type="text/javascript" src="../../views/js/processconfiguration/message.js"></script>
<style type="text/css">
    .event {
        background-image: url(../../views/images/event.png) !important;
    }

    .process-folder {
        background-image: url(../../views/images/process.gif) !important;
    }
</style>

</body>
</html>
