<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <script type="text/javascript" src="<?php echo $this->dir_ucid; ?>js/imporcss.js"></script>
<!--    <link rel="stylesheet" type="text/css" href="--><?php //echo $this->dir_ucid; ?><!--/tema/default/css/ext-all.css" />-->

    <link href="<?php echo $this->dir_ext_ccs; ?>css/ext-all.css" rel="stylesheet" type="text/css" media="screen"/>
</head>
<body>
<!--        <script type="text/javascript" src="--><?php //echo $this->dir_ucid; ?><!--js/ext-base.js"></script>-->
<!--        <script type="text/javascript" src="--><?php //echo $this->dir_ucid; ?><!--js/ext-all.js"></script>-->
<!--        <script type="text/javascript" src="--><?php //echo $this->dir_ucid; ?><!--js/ucid-all.js"></script>-->
<!--        <script type="text/javascript" src="/contabilidad/contabilidad_general/maestro/views/js/formato/etiquetasComponentFormatos.js"></script>-->
<!--        <script type="text/javascript" src="/contabilidad/contabilidad_general/maestro/views/js/formato/componentFormatos.js"></script>-->
<!--        <script type="text/javascript" src="/contabilidad/contabilidad_general/maestro/views/js/formato/gestionarformatos.js"></script>-->

<script type="text/javascript" src="<?php echo $this->dir_extjs; ?>js/ext-all-4.2.1.js"></script>
<script type="text/javascript" src="<?php echo $this->dir_ucid; ?>js/ucid-all.js"></script>
<script type="text/javascript" src="<?php echo $this->dir_extjs; ?>js/SearchComboField.js"></script>
<script type="text/javascript" src="<?php echo $this->dir_extjs; ?>js/SearchField.js"></script>

<script type="text/javascript" src="../../views/js/formato/app.js"></script>
</body>
</html>
