body{padding-top:100px; padding-right:50px; padding-bottom:100px; padding-left:50px; font-family: Arial, Helvetica, sans-serif;}

td {text-align:center; vertical-align:middle;}

table {border-collapse:collapse; width:100%;}
table.headTABLE{border: 1px solid;}
table.headTABLE td{border: 1px solid;}

table.headTABLE1{border-top-style:hidden !important; border-bottom-style:hidden !important; }
table.headTABLE1 td{border: 1px solid;}


table.bodyTABLE{border: 1px solid;}
table.bodyTABLE td{border: 1px solid;}

table.footTABLE{border-top-style:hidden;}
table.footTABLE td{border: 1px solid;}


h6 {font-size: 11px; font-weight: bold;}
td h6{text-align:left; vertical-align:top;}
h5 {font-size: 12px; font-weight: bold;}

h3 {font-size: 14px; font-weight: bold;}
h3.t {font-weight:normal}
td.t {vertical-align:top;}

p{font-size: 12px; font-weight: normal;}
p.r {font-size: 11px;}
td.r{text-align:right; vertical-align:bottom;}

p.l {font-size: 11px;}
td.l{text-align:left; vertical-align:top;}