<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <script type="text/javascript" src="<?php echo $this->dir_ucid; ?>js/imporcss.js"></script>
    <link href="<?php echo $this->dir_ext_ccs; ?>css/ext-all.css" rel="stylesheet" type="text/css" media="screen"/>
    <style type="text/css">
        .empty-info-area {
            color: #15428B;
            font-family: georgia, serif;
            font-size: 18px;
            padding: 100px 15px !important;
            height: 100%;
            background: none repeat scroll 0 0 #FFFFEE;
            text-align: center;
        }
    </style>
</head>
<body>
<script type="text/javascript" src="<?php echo $this->dir_extjs; ?>js/ext-all-debug-w-comments.js"></script>
<!--<script type="text/javascript" src="--><?php //echo $this->dir_extjs; ?><!--js/ext-all-4.2.1.js"></script>-->
<script type="text/javascript" src="<?php echo $this->dir_ucid; ?>js/ucid-all.js"></script>

<script type="text/javascript" src="<?php echo $this->dir_extjs; ?>js/SearchField.js"></script>
<script type="text/javascript" src="/contabilidad/contabilidad_general/comun/TreeFilter.js"></script>
<script type="text/javascript" src="../../views/js/maestro/app.js"></script>
</body>
</html>