<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <script type="text/javascript" src="<?php echo $this->dir_ucid; ?>js/imporcss.js"></script>
    <link href="<?php echo $this->dir_ext_ccs; ?>css/ext-all.css" rel="stylesheet" type="text/css" media="screen"/>
    <script language="javascript" type="text/javascript">importarCSS("../../views/css/view_productoservicio.css");</script>
    <script language="javascript" type="text/javascript">importarCSS("../../views/css/icons.css");</script>
</head>
<body>
<script type="text/javascript" src="<?php echo $this->dir_extjs; ?>js/ext-all-4.2.1.js"></script>
<script type="text/javascript" src="<?php echo $this->dir_ucid; ?>js/ucid-all.js"></script>
<script type="text/javascript" src="<?php echo $this->dir_extjs; ?>js/SearchField.js"></script>
<script type="text/javascript"
        src="/logistica/facturacion/views/js/maestro/app/view/productoservicio/ViewProductoServicio.js"></script>
<script type="text/javascript" src="../../views/js/pedido/app/view/ItemCart.js"></script>
<script type="text/javascript" src="../../views/js/pedido/app.js"></script>
</body>
</html>