<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <script type="text/javascript" src="<?php echo $this->dir_ucid; ?>js/imporcss.js"></script>
    <link href="<?php echo $this->dir_ext_ccs; ?>css/ext-all.css" rel="stylesheet" type="text/css" media="screen"/>
</head>

<body>
<script type="text/javascript" src="<?php echo $this->dir_extjs; ?>js/ext-all-4.2.1.js"></script>

<script type="text/javascript" src="/contabilidad/comun/util/number_to_word.js"></script>
<script type="text/javascript" src="/contabilidad/comun/util/moneda_format.js"></script>

<script type="text/javascript" src="<?php echo $this->dir_ucid; ?>js/ucid-all.js"></script>

<script type="text/javascript" src="<?php echo $this->dir_extjs; ?>js/SearchField.js"></script>
<script type="text/javascript" src="/contabilidad/contabilidad_general/clasificador_cuentas/views/js/cuenta/app/view/CmpCuentaTree.js"></script>
<script type="text/javascript"
        src="/contabilidad/contabilidad_general/comprobante/views/js/comprobante/app/view/CmpComprobante.js"></script>
<script type="text/javascript"
        src="/contabilidad/contabilidad_general/comprobante/views/js/comprobante/app/view/WinCuenta.js"></script>


<script type="text/javascript" src="../../views/js/transacciones/app.js"></script>
</body>
</html>