<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <script type="text/javascript" src="<?php echo $this->dir_ucid; ?>js/imporcss.js"></script>
    <link href="<?php echo $this->dir_ext_ccs; ?>css/ext-all.css" rel="stylesheet" type="text/css" media="screen"/>
</head>
<body>
<script type="text/javascript" src="<?php echo $this->dir_extjs; ?>js/ext-all-4.2.1.js"></script>
<script type="text/javascript" src="<?php echo $this->dir_ucid; ?>js/ucid-all.js"></script>
<script type="text/javascript">
    var nombreEmpresa = '<?php print($this->empresa['nombre']); ?>';
    var direccionEmpresa = '<?php print($this->empresa['direccion']); ?>';
    var telefonoEmpresa = '<?php print($this->empresa['telefono']); ?>';
</script>
<script type="text/javascript" src="/lib/jspdf/jspdf.min.js"></script>
<script type="text/javascript" src="../../views/js/sticker/app.js"></script>
</body>
</html>