<html>

<head>
    <meta charset="UTF-8"/>
    <title>Sistema de la Universidad Ecotec</title>
   <script type="text/javascript" src="<?php echo $this->dir_ucid; ?>js/imporcss.js"></script>
    <link href="<?php echo $this->dir_ext_ccs; ?>../gray4/css/ext-all.css" rel="stylesheet" type="text/css"
          media="screen"/>

    <link href="views/css/index/index.css" rel="stylesheet" type="text/css">
    <link href="views/css/index/styles.css" rel="stylesheet" type="text/css">
    <link href="views/css/index/style.css" rel="stylesheet" type="text/css">
    <link href="<?php echo $this->dir_ext_ccs; ?>css/ext-all.css" rel="stylesheet" type="text/css" media="screen"/>

    <script type="text/javascript" src="<?php echo $this->dir_extjs; ?>js/ext-base.js"></script>

<script type="text/javascript">
    function closeSession(){
        Ext.Ajax.request({
            url: 'index.php/index/entraralsistema',
            method: 'POST',
            waitMsg: 'Entrando al sistema Ecotec...',
            params: {
                tipoacceso: 'nuevo'

            },
            success: function (pResp, pOpt) {
                var objJson = Ext.decode(pResp.responseText);
                if (ventana != null) {
                    ventana.close();
                    ventana = null;
                }
                if (objJson.reload == false) {
                    window.location.href=window.location.href;
                }
                else if (objJson.reload == true) {
                    verificarPerfil();
                }
                else if (objJson.codMsg) {
                    var msg = objJson.mensaje;
                    mensaje = objJson;
                    Ext.Msg.show({
                        title: 'ERROR',
                        msg: msg,
                        buttons: Ext.Msg.OKCANCEL,
                        animateTarget: 'elId',
                        icon: Ext.window.MessageBox.ERROR
                    });

                    //Ext.Msg.alert('ERROR', msg);
//                    mostrarMensaje(mensaje.codMsg, mensaje.mensaje);
                }
            }
        });
    }
</script>

</head>
<body>  

<script type="text/javascript" src="<?php echo $this->dir_ucid; ?>js/ucid-all.js"></script>
<script type="text/javascript" src="<?php echo $this->dir_extjs; ?>js/ext-all-4.2.1.js"></script>

<script type="text/javascript" src="views/js/index/index.js"></script>
</body>
</html>
