<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Créditos por materia</title>
    <script type="text/javascript" src="<?php echo $this->dir_ucid;?>js/imporcss.js"></script>
    <link href="<?php echo $this->dir_ext_ccs; ?>css/ext-all.css" rel="stylesheet" type="text/css" media="screen"/>

    <script type="text/javascript" src="<?php echo $this->dir_extjs; ?>js/ext-all-4.2.1.js"></script>
    <script type="text/javascript" src="<?php echo $this->dir_extjs;?>js/SearchField.js"></script>
    <script type="text/javascript" src="<?php echo $this->dir_extjs;?>js/SearchComboField.js"></script>
    <!--<script type="text/javascript" src="<?php echo $this->dir_extjs; ?>js/ext-all-debug-w-comments.js"></script>-->
    <script type="text/javascript" src="<?php echo $this->dir_ucid;?>js/ucid-all.js"></script>
    <script type="text/javascript" src="../../views/js/credxarea/app.js"></script>
</head>

<body>
    <label style="font-weight: bold; font-size: 20%"
</body>
</html>
