<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <script type="text/javascript" src="<?php echo $this->dir_ucid; ?>js/imporcss.js"></script>
    <link href="<?php echo $this->dir_ext_ccs; ?>css/ext-all.css" rel="stylesheet" type="text/css" media="screen"/>
    <style type="text/css">
        .empty-info-area {
            color: #15428B;
            font-family: georgia, serif;
            font-size: 18px;
            padding: 100px 15px !important;
            height: 100%;
            background: none repeat scroll 0 0 #FFFFEE;
            text-align: center;
        }

        #images-view .x-panel-body {
            background: white;
            font: 11px Arial, Helvetica, sans-serif;
        }

        #images-view .thumb {
            background: #dddddd;
            padding: 3px;
            padding-bottom: 0;
        }

        .x-quirks #images-view .thumb {
            padding-bottom: 3px;
        }

        #images-view .thumb img {
            height: 60px;
            width: 80px;
        }

        #images-view .thumb-wrap {
            float: left;
            margin: 4px;
            margin-right: 0;
            padding: 5px;
        }

        #images-view .thumb-wrap span {

            display: block;
            overflow: hidden;
            text-align: center;
            width: 86px; /* for ie to ensure that the text is centered */
        }

        #images-view .x-item-over {
            border: 1px solid #dddddd;
            background: #efefef url(over.gif) repeat-x left top;
            padding: 4px;
        }

        #images-view .x-item-selected {
            background: #eff5fb url(selected.gif) no-repeat right bottom;
            border: 1px solid #99bbe8;
            padding: 4px;
        }

        #images-view .x-item-selected .thumb {
            background: transparent;
        }

        #images-view .loading-indicator {
            font-size: 11px;
            background-image: url('../../resources/themes/images/default/grid/loading.gif');
            background-repeat: no-repeat;
            background-position: left;
            padding-left: 20px;
            margin: 10px;
        }

        .x-view-selector {
            position: absolute;
            left: 0;
            top: 0;
            width: 0;
            border: 1px dotted;
            opacity: .5;
            -moz-opacity: .5;
            filter: alpha(opacity=50);
            zoom: 1;
            background-color: #c3daf9;
            border-color: #3399bb;
        }

        .ext-strict .ext-ie .x-tree .x-panel-bwrap {
            position: relative;
            overflow: hidden;
        }
    </style>
</head>
<body>
<script type="text/javascript" src="<?php echo $this->dir_extjs; ?>js/ext-all-4.2.1.js"></script>
<script type="text/javascript" src="<?php echo $this->dir_ucid; ?>js/ucid-all.js"></script>
<script type="text/javascript" src="/contabilidad/comun/LibBase64/Base64cypt.js"></script>
<script type="text/javascript" src="<?php echo $this->dir_extjs; ?>js/SearchField.js"></script>
<script type="text/javascript" src="/contabilidad/contabilidad_general/comun/TreeFilter.js"></script>
<script type="text/javascript" src="/contabilidad/contabilidad_general/clasificador_cuentas/views/js/cuenta/app/view/CmpCuentaTree.js"></script>
<script type="text/javascript" src="../../views/js/maestro/app.js"></script>

<!--Upload File para la foto del producto o servicio -->
<input id="uploadFoto" type="file" style="visibility:hidden"/>
</body>
</html>