.acreditar32x32 { background-image: url('../images/acreditar32x32.png'); }
.debitar32x32 { background-image: url('../images/debitar32x32.png'); }
.cierre32x32 { background-image: url('../images/cierre32x32.png'); }
.utilidades32x32 { background-image: url('../images/utilidades32x32.png'); }
.perdidas32x32 { background-image: url('../images/perdidas32x32.png'); }
.comprobante32x32 { background-image: url('../images/comprobante32x32.png'); }